config BCM4329
	tristate "Broadcom BCM4329 wireless chip support"
	depends on MMC
	select WIRELESS_EXT
	select WEXT_PRIV
	select WEXT_CORE
	select WEXT_SPY
	default m
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 4329 chipset.

	  This driver uses the kernel's wireless extensions subsystem.

config BCM4329_WL_RESET_GPIO
	depends on BCM4329
	int "BCM4329 WLAN Reset GPIO number"
	default 20

config BCM4329_FW_PATH
	depends on BCM4329
	string "Firmware path"
	default "/system/vendor/firmware/fw_bcmdhd.bin"
	---help---
	  Path to the firmware file.

config BCM4329_NVRAM_PATH
	depends on BCM4329
	string "NVRAM path"
	default "/system/etc/wifi/bcmdhd.cal"
	---help---
	  Path to the nvram file.

config BCM4329_IFACE_NAME
	depends on BCM4329
	string "Wireless network interface name"
	default "wlan"

config BCM4329_DEBUG
	depends on BCM4329
	bool "Debug"
	default n

config BCM4329_SOFTAP
	depends on BCM4329
	bool "Support SoftAP function"
	default y

config BCM4329_MEM_PREALLOC
	depends on BCM4329
	bool "use static memory for wifi driver"
	default n
	
config BCM4329_OOB_ONLY
	depends on BCM4329
	bool "use out of band interrupt"
	default y
	
config BCM4329_OOB_GPIO	
	depends on BCM4329
	int "BCM4329 out-of-band GPIO number"
	default 50
